@model TMD.Models.IdentityModels.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
}

<div class="container-login">
    <div class="form-centering-wrapper">
        <div class="form-window-login">
            <div class="form-window-login-logo">
                <div class="login-logo">
                    <img src="~/Content/Images/gpa20_red_home.gif" alt="Desert Stars" />
                </div>
                <h2 class="login-title">Password Recovery</h2>


                <div class="login-input-area">
                    <span class="help-block">Enter Your Username To Reset Your Password</span>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        <div>
                            @*<input type="text" class="form-control" id="inputEmail" placeholder="Email">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" class="btn btn-large btn-success btn-login" value="Retrive Password" />
                    }

                </div>
            </div>
        </div>
    </div>
</div>
