@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="banner-wrapper">
    <div class="container">

        <div id="banner">
            <h2>Put something cool here!</h2>
            <span>And put something almost as cool here, but a bit longer ...</span>
        </div>

    </div>
</div>


<!-- Content -->
<div id="content-wrapper">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="4u">

                    <!-- Box #1 -->
                    <section>
                        <header>
                            <h2>Who We Are</h2>
                            <h3>A subheading about who we are</h3>
                        </header>
                        <a href="#" class="feature-image"><img src="~/Images/pic05.jpg" alt="" /></a>
                        <p>
                            Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
                            Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
                            justo facilisis quis. Sed sagittis mauris amet tellus gravida lorem ipsum.
                        </p>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box #2 -->
                    <section>
                        <header>
                            <h2>What We Do</h2>
                            <h3>A subheading about what we do</h3>
                        </header>
                        <ul class="check-list">
                            <li>Sed mattis quis rutrum accum</li>
                            <li>Eu varius nibh suspendisse lorem</li>
                            <li>Magna eget odio amet mollis justo</li>
                            <li>Facilisis quis sagittis mauris</li>
                            <li>Amet tellus gravida lorem ipsum</li>
                        </ul>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box #3 -->
                    <section>
                        <header>
                            <h2>What People Are Saying</h2>
                            <h3>And a final subheading about our clients</h3>
                        </header>
                        <ul class="quote-list">
                            <li>
                                <img src="~/Images/pic06.jpg" alt="" />
                                <p>"Neque nisidapibus mattis"</p>
                                <span>Jane Doe, CEO of UntitledCorp</span>
                            </li>
                            <li>
                                <img src="~/Images/pic07.jpg" alt="" />
                                <p>"Lorem ipsum consequat!"</p>
                                <span>John Doe, President of FakeBiz</span>
                            </li>
                            <li>
                                <img src="~/Images/pic08.jpg" alt="" />
                                <p>"Magna veroeros amet tempus"</p>
                                <span>Mary Smith, CFO of UntitledBiz</span>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>