<div class="nav-fixed-left" style="visibility: hidden" dir="ltr">
    <div class="nav-fixed-left" style="visibility: hidden">
        <ul class="nav nav-side-menu">
            <li class="shadow-layer"></li>
            <li>
                <a href="dashboard-En.html">
                    <i class="icon-photon home"></i>
                    <span class="nav-selection">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="sub-nav-container">
                    <i class="icon-photon user lightOrange"></i>
                    <span class="nav-selection">Human Resources System</span>
                    <i class="icon-menu-arrow"></i>
                </a>
                <div class="sub-nav">
                    <ul class="nav">
                        <li>
                            <a href="~/HR/Employee/Index">Employees</a>
                        </li>
                        <li>
                            <a href="~/HR/Payroll/Index">Payroll</a>
                        </li>
                        <li>
                            <a href="~/HR/Request/Index">Requests List</a>
                        </li>
                        <li>
                            <a href="~/HR/JobOffered/Index">Recruitment</a>
                        </li>
                        <li>
                            <a href="~/HR/JobOffered/Jobs">Jobs List</a>
                        </li>
                        <li>
                            <a href="~/HR/Department/Index">Departments</a>
                        </li>
                        <li>
                            <a href="~/HR/JobTitle/Index">Job Title</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:;" class="sub-nav-container">
                    <i class="icon-photon chart_alt lightBlue"></i>
                    <span class="nav-selection">Project Management System</span>
                    <i class="icon-menu-arrow"></i>
                </a>
                <div class="sub-nav">
                    <ul class="nav">
                        <li>
                            <a href="ProjectsList(Admin,ProjectM)En.html">Projects</a>
                        </li>
                        <li>
                            <a href="TasksList(Admin,ProjectM)En.html">Tasks</a>
                        </li>
                        <li>
                            <a href="OrdersList(Admin,ProjectM)En.html">Orders</a>
                        </li>
                        <li>
                            <a href="MeetingsList(Admin,ProjectM)En.html">Meetings</a>
                        </li>
                        <li>
                            <a href="Customers(Admin,ProjectM)En.html">Customer Service</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="NotificationList(Admin,Employee with Auth)En.html">
                    <i class="icon-photon clock lightRed"></i>
                    <span class="nav-selection">Notification System</span>
                </a>
            </li>
            <li>
                <a href="ContactsList-En.html">
                    <i class="icon-photon book_alt lightGreen "></i>
                    <span class="nav-selection">Contacts List</span>
                </a>
            </li>
            <li>
                <a href="CompanyProfile(Admin)En.html">
                    <i class="icon-photon document_alt_stroke lightPurpule"></i>
                    <span class="nav-selection">Company Profile</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="sub-nav-container">
                    <i class="icon-photon wrench lightOrange"></i>
                    <span class="nav-selection">User Management</span>
                    <i class="icon-menu-arrow"></i>
                </a>
                <div class="sub-nav">
                    <ul class="nav">
                        <li>
                            <a href="~/Account/Users">Users</a>
                        </li>
                        <li>
                            <a href="~/Account/ChangePassword">Change Password</a>
                        </li>
                        <li>
                            <a href="~/Account/Profile">My Profile</a>
                        </li>
                        <li>
                            <a href="~/RolesAdmin/Index">Roles</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="http://www.cr3ativ3mind.com/ERP/Help.html">
                    <i class="icon-photon info lightYellow"></i>
                    <span class="nav-selection">Help</span>
                </a>
            </li>
            <li class="nav-logout">
                <a href="~/Account/Logoff">
                    <i class="icon-photon key_stroke"></i><span class="nav-selection">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>