<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FindingServiceSOAPBinding" sendTimeout="00:25:00">
                    <security mode="Transport" />
                </binding>
                <binding name="FindingServiceSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://svcs.ebay.com/services/search/FindingService/v1"
                binding="basicHttpBinding" bindingConfiguration="FindingServiceSOAPBinding"
                contract="Finding.FindingServicePortType" name="FindingServiceSOAPPort" />
        </client>
    </system.serviceModel>
</configuration>