
@{
    ViewBag.Title = "Unauthorized Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="body-inner">
    <div class="error-page error-4">
        <div class="error-block-wrapper">
            <div class="error-block">
                <div class="error-left">
                    <h1 data-text="401">401</h1>
                    <span class="error-message">Sorry, there's been an error.</span>
                    <span class="error-details">
                        Unauthorized.<a href="#" class="bootstrap-tooltip" data-placement="top" data-original-title="The request was a valid request, but authentication is required and has failed or has not yet been provided."><i class="icon-photon info-circle"></i></a>
                    </span>
                </div>
                <div class="error-right">
                    <a href="dashboard-en.html"><i class="icon-photon home"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-watermark"></div>
</body>
